<% provide(:title, 'Administration') %>
<h1>Hello <%= current_admin.email %> </h1>
<p>This page should contain information about all the athletes</p>
<%= search_form_for @search, :url => admins_path do |f| %>
  <p>
    <%= f.label :email_cont %>
    <%= f.text_field :email_cont %>
    <%= f.submit "Submit" %>
  </p>
<% end %>

<p>
  Sort by:
  <%= sort_link @search, :email %> |
  <%= sort_link @search, :invitation_accepted_at %>
</p>

<%= render @athletes %>
<br/>
<p><%= link_to "Invite New Athlete", new_athlete_invitation_path %></p>