<% provide(:title, 'Edit') %>

<div class="row alert alert-block">
  <div class="span4">
    <h4>Edit <%= resource_name.to_s.humanize %></h4>
    <br/>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.label :current_password %> <i>(we need your current password to update)</i><br />
            <%= f.password_field :current_password %></div>
            <br/>
            <div><%= f.submit "Update", :class => "btn btn-warning" %></div>
            <br/>
            <%= link_to "Back", :back %>

          </div>
          <div class="span4 pull-right">
            <h4>Share training data</h4>
            <br/>  

    <div><%= f.label "Link address" %><br />
      <%= f.text_field :link_address %></div>

        <div><%= f.label "Username" %><br />
          <%= f.text_field :link_username %></div>

          <div><%= f.label "Password" %> <i>(this password will be available to your coach)</i><br />
            <%= f.text_field :link_password %></div>
            <% end %>
          </div>
        </div>