<div class="athlete">
  <h3>
	<% if athlete.fullname.empty? then%>
    	<%= link_to h(athlete.email), athlete %>
	<% else %>
		<%= link_to h(athlete.fullname), athlete %>
	<% end %>
    <%= athlete.invitation_accepted_at %>
  </h3>
<!-- The athlete is defined in a loop in a scope surrounding this partial -->
  <div class="actions">
	<%= link_to "Upload Attachment", athlete_attachments_path(athlete) %> |
    <%= link_to "Edit", edit_athletes_registration_path(athlete) %> |
    <%= link_to "Destroy", athlete, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>