<div class="modal hide" id="calModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Export Configurations</h3>
  </div>
  <div class="modal-body">
    <%= form_tag(:controller => "athletes", :action => "exportcal", :athlete_id => @athlete.id) do %>	
    <br />
    Export Events
    <br />
    <br />
    <div class="field">
      <%= label_tag "start_date_cal", "Start Date" %>
      <%= text_field_tag "start_date_cal", DateTime.now.to_date.strftime("%d-%m-%Y"), :prefix => "from", :style => "width: 100px;" %>
      <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
    </div>
    <br/>
    <div class="field">
      <%= label_tag "end_date_cal", "End Date"  %>
      <%= text_field_tag "end_date_cal", (DateTime.now.to_date + 7.days).strftime("%d-%m-%Y"), :prefix => "to", :style => "width: 100px;" %>
      <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag("Export",:class => "btn btn-primary" ) %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <% end %>
  </div>

</div>
