<div class="modal-body">
  <%= form_tag(:controller => "athletes", :action => "exportpdf", :athlete_id => @athlete.id) do %>	
  <br />
  Export Events
  <br />
  <br />
  <div class="field">
    <%= label_tag "start_date_pdf" %>
    <%= text_field_tag "start_date_pdf", DateTime.now.to_date.strftime("%d-%m-%Y"), :id => "start_date_pdf", :prefix => "from", :style => "width: 100px;" %>
    <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
  </div>
  <br/>
  <div class="field">
    <%= label_tag "end_date_pdf"  %>
    <%= text_field_tag "end_date_pdf", (DateTime.now.to_date + 7.days).strftime("%d-%m-%Y"), :id => "end_date_pdf", :prefix => "to", :style => "width: 100px;" %>
    <i class="icon-calendar" style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>
  </div>
</div>
<div class="modal-footer">
  <%= submit_tag("Export",:class => "btn btn-primary" ) %>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <% end %>
</div>
