<% provide(:title, 'Attachment') %>
<div class="row alert alert-block">
<%= form_for [@athlete,@attachment], :html => {:multipart => true} do |f| %>
	<fieldset>
	<legend>Attachment</legend>
	<br/>
	<% if @attachment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@event.errors.count, "error") %> prohibited this attachment from being saved:</h2>
		<ul>
			<% @attachment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<label>Upload File</label>
		<%= f.file_field :file, :required => true %>
	</div>
	<br/>
	<div class="actions">
		<% if (@athlete.attachment.nil?) %>
		<%= f.submit "Upload", :class => "btn btn-warning" %>
		<% else %>
		<%= f.submit :confirm => "This action will delete the current file and upload new events", :class => "btn btn-warning" %>
		<% end %>
	</div>
	</fieldset>
	<% end %>
	</div>
	