<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<% unless(@sessions.empty?) %>
<dl class="dl-horizontal">
<% @sessions.each do |session| %>
  <dt><%= session.title %></dt>
  <dd><%= unless (session.session_description.nil?) then session.session_description.description end %></dd>
  <% end %>
</dl>
<% end %>

<%= link_to 'Back', athlete_path(@athlete) %> 

