<% provide(:title, 'Event') %>
<div class="alert alert-block">
<h5>
   Type: 
  <%= @event.title %>
</h5>
<h5>
   Tid: 
  <%= @event.duration %> min
</h5>

<h5>
  Andet:
  <%= @event.description %>
</h5>

<% unless(@sessions.empty?) %>
<dl class="dl-horizontal">
<% @sessions.each do |session| %>
  <dt><%= session.focus %></dt>
  <dd><%= unless (session.session_description.nil?) then session.session_description.description else "-" end %></dd>
<% end %>
</dl>
<% end %>

<%= link_to 'Back', athlete_path(@athlete) %> 
</div>

