<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "AimHigh" %></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= analytics_init if Rails.env.production? %>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>
<body>
	<header class="navbar navbar">
		<div id="strip">
			<%= link_to image_tag("logo1.png", :border=>0), root_url %>
			<%= render 'layouts/navigation' %>
		</div>
	</header>
	<div id="main" role="main">
		<div class="container">
			<div class="content">
				<div class="row-fluid">
					<div class="span12">
						<%= render 'layouts/messages' %>
						<%= yield %>
						<br />
					</div>
				</div>
				<% if admin_signed_in? || athlete_signed_in? %>
				<div class="row">
				<footer>
					<div class="alert alert-block">
						<table style="width: 100%">
							<tr>
								<td>Mobil 20 42 04 62 | Email <a href="mailto:aimhigh@aimhigh.dk">aimhigh@aimhigh.dk</a></td>
								<td align="right" class="right">Designed and implemented by <a href="http://olesennielsen.dk">Olesen &amp; Nielsen</a></td>
							</tr>
						</table>
					</div>
				</footer>
			</div>
				<% end %>
			</div>
		</div> <!--! end of .container -->
	</div> <!--! end of #main -->
</body>
</html>
